Regression/test.csv
Regression/models
__pycache__/
Regression/figs/
rans/GenAirfoils/
GenAirfoils/re2_files/
GenAirfoils/airfoil_database/
GenAirfoils/airfoil_database_test/
GenAirfoils/airfoil_rot_database/
.DS_Store
*.csv
visit/
GenAirfoils/gmsh2nek
rans/GenAirfoils/airfoil.geo
rans/GenAirfoils/airfoil.msh
rans/rans_runs/
rans/slurm_jobs/
