Regression/test.csv
Regression/models
__pycache__/
Regression/figs/
GenAirfoils/re2_files/
GenAirfoils/airfoil_database/
GenAirfoils/airfoil_database_test/
GenAirfoils/airfoil_rot_database/
.DS_Store
*.csv
visit/
GenAirfoils/gmsh2nek
