Regression/test.csv
Regression/models
__pycache__/
Regression/figs/
rans/GenAirfoils/
GenAirfoils/re2_files/
GenAirfoils/airfoil_database/
GenAirfoils/airfoil_database_test/
GenAirfoils/airfoil_rot_database/
.DS_Store
*.csv
visit/
GenAirfoils/gmsh2nek
rans/GenAirfoils/airfoil.geo
rans/GenAirfoils/airfoil.msh
rans/initial_rans_runs/
rans/restart_rans_runs/
rans/rans_runs/
rans/rans_test/
rans/rans_base/
rans/rans_test/Miniconda3-latest-Linux-x86_64.sh
rans/slurm_jobs/
rans/rans_base/nek5000
rans/rans_test/nek5000
rans/rans_test/SESSION.NAME
rans/pbs_jobs/
rans/rans_batch_1.o
rans/rans_batch_1.e*
